@model EjemploMVC.Models.ViewModels.InicioVm

@section Menu
{
	@Html.Partial("_MenuCommon")
}

@Html.Partial("_Cargando")

@using (Ajax.BeginForm("Index", null, new AjaxOptions
{
	HttpMethod = "POST",
	UpdateTargetId = "Formulario",
	InsertionMode = InsertionMode.Replace,
	OnBegin = "EnProceso('" + ViewData["Loading"] + "')",
	OnSuccess = "Procesado()"
}, new { @class = "form-horizontal" }))
{
	@Html.AntiForgeryToken()
	<div id="Formulario">
		@Html.Partial("_IndexDetalle", Model)
	</div>
}